generated/schema/tapschema.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2025-08-06T13:07:07.990847535Z-->
<xsd:schema xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:tap="http://ivoa.net/dm/tapschema/v1"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            vc:minVersion="1.1"
            targetNamespace="http://ivoa.net/dm/tapschema/v1"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="tapschemaModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence/>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
               <xsd:element name="schema" type="tap:Schema"/>
            </xsd:choice>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Schema">
      <xsd:annotation>
         <xsd:documentation>The schema</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:Schema</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="schema_name"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>The name of the schema </xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:Schema.schema_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="utype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>utype</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:Schema.utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:Schema.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="schema_index" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>used to recommend table ordering for clients. Clients
                 may order by index (ascending) so lower index items would appear
                 earlier in a listing.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:Schema.schema_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="tables">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="table"
                               type="tap:table"
                               minOccurs="1"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="table">
      <xsd:annotation>
         <xsd:documentation>The table</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:table</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="table_name" type="xsd:ID" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>name of the table</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:table.table_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_type"
                      type="tap:TableType"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the type of table</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:table.table_type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="utype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>utype</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:table.utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:table.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="table_index" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>used to recommend table ordering for clients. Clients
                 may order by index (ascending) so lower index items would appear
                 earlier in a listing.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:table.table_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="columns">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="column"
                               type="tap:column"
                               minOccurs="1"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="fkeys">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="foreignKey"
                               type="tap:ForeignKey"
                               minOccurs="0"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="column">
      <xsd:annotation>
         <xsd:documentation>the column</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:column</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="column_name" type="xsd:ID" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>name of the column</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.column_name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="datatype" type="tap:TAPType" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the type of the column (VOTable semantics)</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.datatype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="arraysize" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the array size of the column</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.arraysize</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="xtype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the xtype of the column</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.xtype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="size" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>deprecated in favour of arraysize</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.size</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>a description of the column</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="utype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the utype for the column</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="unit" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the unit for the column (taken from VOUnits)</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.unit</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ucd" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.ucd</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="indexed" type="xsd:boolean" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>does the column have an index</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.indexed</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="principal" type="xsd:boolean" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation> indicates that the column is considered a core part
                 of the content; clients can use this hint to make the principal column(s)
                 visible, for example by selecting them by default in generating an ADQL
                 query. In cases where the service selects the columns to return (such as a
                 query language without an explicit output selection), the principal column
                 indicates those columns that are returned by default</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.principal</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="std" type="xsd:boolean" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>is the column defined by a standard</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.std</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="column_index" type="xsd:int" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>used to recommend table ordering for clients. Clients
                 may order by index (ascending) so lower index items would appear
                 earlier in a listing.</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:column.column_index</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ForeignKey">
      <xsd:annotation>
         <xsd:documentation>foreign key definition</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:ForeignKey</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="key_id" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the id of the key</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:ForeignKey.key_id</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="target_table"
                      type="xsd:IDREF"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the target table of the foreign key</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:ForeignKey.target_table</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>description</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:ForeignKey.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="utype" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>utype</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:ForeignKey.utype</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="columns">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="fKColumn"
                               type="tap:FKColumn"
                               minOccurs="1"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="FKColumn">
      <xsd:annotation>
         <xsd:documentation>the foreign key columns</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:FKColumn</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence><!--this is a reference-->
         <xsd:element name="from_column" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the column from which the key is referencing</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:FKColumn.from_column</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="target_column"
                      type="xsd:IDREF"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the column that the key references</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:FKColumn.target_column</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="TableType">
      <xsd:annotation>
         <xsd:documentation>types of table</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:TableType</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="table">
            <xsd:annotation>
               <xsd:documentation>table</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TableType.table</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="view">
            <xsd:annotation>
               <xsd:documentation>view</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TableType.view</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="TAPType">
      <xsd:annotation>
         <xsd:documentation>Allowable types for TAP columns</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>tapschema:TAPType</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="BOOLEAN">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.BOOLEAN</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="SMALLINT">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.SMALLINT</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="INTEGER">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.INTEGER</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BIGINT">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.BIGINT</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="REAL">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.REAL</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="DOUBLE">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.DOUBLE</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="TIMESTAMP">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.TIMESTAMP</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="CHAR">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.CHAR</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="VARCHAR">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.VARCHAR</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BINARY">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.BINARY</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="VARBINARY">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.VARBINARY</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="POINT">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.POINT</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="REGION">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.REGION</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="CLOB">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.CLOB</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="BLOB">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>tapschema:TAPType.BLOB</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
